html,
body {
	height: 100%;
  position: relative;
  overflow-x: hidden;
}

.main {
	flex-grow: 1;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  font-size: 16px;
  line-height: 26px;
  @extend %quick-500;
  color: $main-color;
}